/* PC */
@media (min-width : 64em)
{

}
/* tablet và mobile */

@media( max-width :  63.9375em)
{
   .muave
   {
     padding: 16px 16px;
   }
   #footer .the_end
   {
    font-size: 25px;
   }
   #footer .the_end a {
    padding: 0px 6px;
   }
   .banquyen{
    font-size: 30px;
   }
   .contact-trai
   {
    line-height: 2;
   }
}

/* tablet */
 
@media (min-width : 46.25em)  and    (max-width :63.9375em)
{

}




/* mobile */
@media (max-width : 46.1875em)
{
    .s-col-ful{
        width: 100%;
    }
    #header{
        overflow: hidden;
    }
    #nav 
    {
        display: block;
    }
    #nav .subnav{
        position: inherit;
    }
   
    #nav > li {
         display: block; 
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #header .menumobile-btn, #header .search-btn-header {
        display: block;
      }
   
    #header .search-icon {
        color: #fff;
        line-height: 46px;
        display: none;
    }

    #content .about {
        font-size: 20px;
     
    }
    #content .member-item-mobile
    {
        width: 100%;
        padding-bottom: 10px;
    }

    #content .img_member{
        width: 50%;
    }
    .contact-content
    {
        margin-bottom: 16px;
    }
    .contact-content .contact-form-email
    {
        margin-top: 8px;
    }

    .s-ful-with{
        width: 100%;
    }

   
   
}